semblog.tstore/src/main/resources/rdfPersister.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://jaxb.semblog.sw.ecs.soton.uk.ac/"
	xmlns="http://jaxb.semblog.sw.ecs.soton.uk.ac/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="rdfPersisterType">
		<xsd:sequence>
			<xsd:element name="rdfPersisterBean" type="xsd:string"
				minOccurs="1" maxOccurs="1" />			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="rdfPersister">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="rdfPersister" type="rdfPersisterType"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>